 header {
        height: 50px;
    }
        
    header .img-taille {
        height: 30px;
    }
    
    header p {
        height: 50px;
        line-height: 50px;
    }
    
.block {
    border: 4px solid #363635;
}

.bloc-xs-left {
    border-left: 0;
}

.bloc-xs-right {
    border-right: 0;
}

.block-taille1 {
    height: 100px;
}
    
    .block-taille1 .block__image {
        height: 80px;
        line-height: 80px;
    } 
    
    .block-taille1 .block__image-style {
        height: 40px;
    }
    
.block-taille2 {
    height: 100px;
}
        
    .block-taille2 .block__image {
        height: 80px;
        line-height: 80px;
    } 
    
    .block-taille2 .block__image-style {
        height: 40px;
    }
    
.bloc__lien {
    height: 20px;
    line-height: 20px;
}
    

@media (min-width: 768px) {
    
     header {
        height: 100px;
    }
        
        header .img-taille {
            height: 60px;
        }
        
        header p {
            height: 100px;
            line-height: 100px;
        }
        
    .block-sm-middle {
        border: 4px solid #363635;
    }
    
    .block-sm-right {
        border-right: 0px;
    }
    
    .block-taille1 {
        height: 400px;
    }
    
        .block-taille1 .block__image {
            height: 370px;
            line-height: 370px;
        } 
        
        .block-taille1 .block__image-style {
            height: 180px;
        }
    
    .block-taille2 {
        height: 200px;
    }
        
        .block-taille2 .block__image {
            height: 170px;
            line-height: 170px;
        } 
        
        .block-taille2 .block__image-style {
            height: 90px;
        }
        
    .block__lien {
        height: 30px;
        line-height: 30px;
    }
    
}

@media (min-width: 992px) {
    
    header {
        height: 150px;
    }
        
        header .img-taille {
            height: 80px;
        }
        
        header p {
            height: 150px;
            line-height: 150px;
        }
        
    .block-md-left {
        border-left: 0px;
    }
    
    
    .block-taille1 {
        height: 250px;
    }
        
        .block-taille1 .block__image {
            height: 190px;
            line-height: 190px;
        } 
        
        .block-taille1 .block__image-style {
            height: 120px;
        }
        
    .block-taille2 {
        height: 250px;
    }
            
        .block-taille2 .block__image {
            height: 190px;
            line-height: 190px;
        } 
        
        .block-taille2 .block__image-style {
            height: 120px;
        }
        
    .block__lien {
        height: 60px;
        line-height: 60px;
    }
    
    .block__image:hover .block__image-style{
        height: 130px;
    }
}


@media (min-width: 1200px) {
    
    .block-lg-middle {
        border: 4px solid #363635;
    }
    
    .block-taille1 {
        height: 520px;
    }
    
        .block-taille1 .block__image {
            height: 460px;
            line-height: 460px;
        } 
        
        .block-taille1 .block__image-style {
            height: 160px;
        }
    
    .block-taille2 {
        height: 260px;
    }
        
        .block-taille2 .block__image {
            height: 200px;
            line-height: 200px;
        } 
        
        .block-taille2 .block__image-style {
            height: 100px;
        }
    
    .block__image:hover .block__image-style{
        height: 130px;
    }
    
}

