/****** 
* Styles de base
*******/

@font-face {
    font-family: 'distant_strokeregular';
    src: url('../police/distant_stroke-webfont.eot');
    src: url('../police/distant_stroke-webfont.eot?#iefix') format('embedded-opentype'),
         url('../police/distant_stroke-webfont.woff2') format('woff2'),
         url('../police/distant_stroke-webfont.woff') format('woff'),
         url('../police/distant_stroke-webfont.ttf') format('truetype'),
         url('../police/distant_stroke-webfont.svg#distant_strokeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/****** 
* Layout
*******/

header {
    line-height: 120px;
    padding: 15px;
    
    background-color: #37BBD2;
    
    color: white;
    font-size: 20px;
    font-family: Arial;
}

main {}

footer {}

/****** 
* Module main
*******/


/* bloc principal */
.container-style {
    border: 3px solid #363635;
}

/* structure commune d'un block */

.block {
    position: relative;
    /*padding-bottom: 60px;*/
    
    border: 3px solid #363635;
}

/* structure de l'image */

    .block__image {
        text-align: center;
    }

        .block__image-style {
            border-radius: 25px;
            vertical-align: middle;
        }

/* structure de la partie du block qui contient le lien */

.block__lien {
    position: absolute;
    bottom: 0;
    left: 0px;
    right: 0px;
    padding-right: 20px;
    padding-left: 20px;
}


    .elem-1 {
        float: left;
    }
    
    .elem-2{
        float: right;
    }
    
    .elem-1, .elem-2 {
        vertical-align: middle;
    }
    
    .block__lien:hover {
        background: rgba(0,0,0,.4);
    }

        .block__lien:hover .elem-1 {
            color: white;
            text-decoration: none;
            font-family: 'distant_strokeregular', Arial, serif;
            font-size: 2em;   
        }

/****** 
* effet css de transition
******/

.block__image-style, .block__lien, .elem-1{
    -webkit-transition: all 1.2s ease-in;
    -moz-transition: all 1.2s ease-in;
    -o-transition: all 1.2s ease-in;
    transition: all 1.2s ease-in;
}